@media print {
    * {
        box-shadow: none !important;
        text-shadow: none !important;
    }

    body,
    html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    #table {
        width: 100% !important;
        border-collapse: collapse;
        margin: 0 auto;
        page-break-inside: auto;
        table-layout: fixed;
        word-wrap: break-word;
        overflow: hidden;
    }

    table,
    th,
    td {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
        word-break: break-word;
        overflow: hidden;
    }

    thead {
        display: table-header-group;
    }

    tr {
        page-break-inside: avoid;
    }

    @page {
        size: A4;
        margin: 10mm;
    }

    table {
        width: 100% !important;
        table-layout: fixed !important;
        border-collapse: collapse;
    }

    th,
    td {
        font-size: 12px !important;
        padding: 5px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        border: 1px solid black !important;
    }

    th:nth-child(1),
    td:nth-child(1) {
        display: none !important;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 28px !important;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 84px !important;
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 100px !important;
    }

    th:nth-child(6),
    td:nth-child(6) {
        width: 80px !important;
    }

    th:nth-child(7),
    td:nth-child(7) {
        width: 74px !important;
    }

    th:nth-child(8),
    td:nth-child(8) {
        width: 74px !important;
    }

    th:nth-child(9),
    td:nth-child(9) {
        width: 74px !important;
    }

    th:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)):not(:nth-child(8)):not(:nth-child(9)),
    td:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)):not(:nth-child(8)):not(:nth-child(9)) {
        width: auto !important;
    }

    th,
    td,
    .d-none,
    .d-sm-table-cell {
        display: table-cell !important;
    }

    .d-print-none,
    .no-print {
        display: none !important;
    }

    thead {
        display: table-header-group !important;
    }
}