 .todayOrderClass:hover .card,
 .Allorders:hover .card {
     transform: scale(1.05);
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4) !important;
     transition: all 0.3s ease-in-out;
 }

 .Allorders:hover .card {
     background-color: rgba(255, 188, 5, 0.3) !important;
 }

 .todayOrderClass:hover .card {
     background-color: rgba(16, 250, 160, 0.3) !important;
 }

 .todayOrderClass:hover .card-body,
 .Allorders:hover .card-body {
     color: #000 !important;
 }